@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Manrope:wght@200..800&display=swap');

@layer customproperties{
    :root{

        --clr-green: #44FFA1;
        --clr-purple-900: #24053E;
        --clr-purple-500: #584D62;
        --clr-purple-100: #FCF8FF;
        --clr-white: #FFF;


        --ff-heading: "Fraunces", sans-serif;
        --ff-body: "Manrope", sans-serif;


        --fs-xlrg: 5rem;
        --fs-lrg: 3.5rem;
        --fs-md: 2rem;
        --fs-body: 1.125rem;
    }
}

@layer reset{
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

*, * > *{
    padding: 0;
    margin: 0;
}
/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
}



@layer base-styles{
    header{
        background-color: var(--clr-purple-900);

    }

    .header-wrapper{
        max-width: 1440px;
        margin: 0 auto;
    }

    
   nav{
     font-family: var(--ff-body);
     font-size: var(--fs-body);
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;
     width: 100%;
     padding-inline: 1rem;
     padding-block-start: 3.5rem;
   }
   .nav-link{
    color: var(--clr-white);
    text-decoration: underline var(--clr-green) 3px;
    text-underline-offset: .5rem;
   }

   .hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    padding: 3.5rem 5rem 18rem 5rem;
    
   }

   .hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    position: relative;
   }

   .hero-heading{
    font-family: var(--ff-heading);
    font-size: var(--fs-xlrg);
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;
    font-weight: 600;
    color: var(--clr-white);
   }

   .underlined{
    text-decoration: underline var(--clr-green) 3px;
    text-underline-offset: .5rem;
    text-decoration-skip: none;

   }
}

.btn-link{
    padding: 0.75rem 2rem;
    background-color: var(--clr-green);
    color: var(--clr-purple-900);
    text-decoration: none;
    font-size: var(--fs-body);
    font-family: var(--ff-body);
    font-weight: 600;
}

.phone-img{
    max-width: 44.6875rem;
    position: absolute;
    top: 22.5rem;
}
.content{
    padding: 18rem 5rem 9rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.three-column-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    max-width: 1120px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;

}

.card-number{
    font-family: var(--ff-heading);
    font-weight: 600;
    border: 1px solid black;
    border-radius: 99%;
    height: 56px;
    width: 56px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}

.card-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.75rem;
}

.card-info{
   font-family: var(--ff-body);
   line-height: 180%;
   font-size: 1.125rem;
   align-self: stretch;
   text-align: center;
}

.card-title{
    font-family: var(--ff-heading);
    font-size: 2rem;
    font-weight: 600;
    line-height: 120%;
    text-wrap: nowrap;
}

.founder{
    background-color: white;
    padding: 80px 112px 0px 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.founder-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 168px;
}

.founder-img{
    max-width: 477px;
    z-index: 1;
    align-self: flex-start;
    transform: translateY(-5rem);
}

.founder-card{
    padding: 64px;
    background-color: #24053E;
    z-index: 2;
    max-width: 730px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    color: var(--clr-purple-100);
    font-family: var(--ff-body);
    font-size: var(--ff-body);
    align-self: flex-end;
    transform: translateX(-5rem);



   
}

.founder-card .btn-link{
        padding: 12px 32px;
    
}

.founder-heading{
    font-family: var(--ff-heading);
    font-size: var(--fs-md);
    font-weight: 600;
}



@media (max-width:975px){
    .three-column-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .card{
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .card-number{
        height: 48px;
        width: 48px;
        font-size: 20px;
    }

    .card-content{
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .card-info{
        text-align: left;
    }

    .phone-img{
        padding: 0 2.75rem;
    }
    .content{
    padding: 9rem 2.75rem 2.75rem 2.75rem;
}

    .founder-card{
        padding: 65px;
        transform: translateX(-6rem);
        max-height: 390px;
        width: 504px;
        

    }
    .founder-heading{
        text-wrap: nowrap;
    }

    .founder-card-text{
        text-align: left;
    }

    .founder-img{
        max-width: 280px;
        transform: translateY(-10rem);
    }
}

@media (max-width: 700px){
    .card{
        display: flex;
        flex-direction: column;
    }

    .card-content{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    .card-info{
        text-align: center;
    }
 
    .phone-img{
        max-width: 35rem;
        padding: 1.5rem;
        transform: translateY(1rem);
    }

    .hero-container{
        padding: 56px 44px 144px 44px;
    }


    .content{
    padding: 12rem 1rem 1rem 1rem;

   

}

     .founder-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }

    .founder-card{
        transform: translateY(0px) translateX(0px);
        max-width: 335px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .founder-heading{
        text-align: center;
    }

    .founder-card-text{
        text-align: center;
    }

    .founder-img{
        transform: translateY(2.5rem) translateX(1.5rem);
    }

     .founder{
        padding-inline: 2.5rem;
    }
} 
    



@media (max-width: 375px) {
    header{
    }

    .phone-img{
        max-width: 32rem;
        padding: 1.5rem;
        transform: translateY(1.75rem);
    }
    .hero-container{
        padding: 56px 10px 144px 10px;
        max-width: 335px;
    }

    .hero-heading{
        text-wrap: nowrap;
    }

    .founder-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .founder-card{
        padding: 0px;
    }

    .founder{
        padding: 0px;
    }
} 


.footer-section{
    padding: 112px 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social-links-footer{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.social-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.btn-link:hover, .btn-link:active{
    background-color: var(--clr-purple-900);
    color: #44FFA1;
    border: 1px solid var(--clr-green);
    cursor: pointer;
}

.social-link:hover{
    cursor: pointer;
}

.nav-link:hover, .nav-link:active{
    cursor: pointer;
    color: var(--clr-green);

}